


 * {
  margin: 0;
  padding: 0;
}
body {
  min-width: 500px;
  max-width: 1000px;
  margin: 2em auto;
  padding: 0 20px;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

li{
    list-style: none;
    padding-left:2em;
    
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.player {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 1em;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.player-image {
  min-height: 0%;
  margin-bottom: 1em;
}
.player-image img {
  width: 100%;
  height: auto;
  
}
.player-btn {
  margin-top: auto;
  padding-top: 1em;
  
}
.player-btn a {
  display: block;
  padding: .5em;
  background: #3498db;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.tag{
    color:thistle;
}
